@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.125rem;
    font-family: 'Nunito';
    background: #e0e5ec;
}
/* typography */
h1
{
    font-family: 'Lora';
    font-weight: 400;
    color: #143774;
    font-size: 2rem;

}
.subtitle
{
    font-weight: bold;
    color: #1792D2;
    font-size: .75rem;
}
header
{
    width: 100%;
    min-width: 356px;
    background: #ecf0f3;
    display: flex;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1,
    inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
    /* border: 2px solid crimson; */
}

.container
{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid crimson; */
    display: flex;
    justify-content: space-between;
}

.subtitle
{
    text-align: center;
}
nav
{
    /* width: 90%; */
    /* min-width: 400px; */
    margin-top: .2em;
    /* border: 2px solid black; */
}
nav ul
{
    margin: 0 auto;
    /* margin: auto; */
    display: flex;
    justify-content: flex-end;
}
nav li
{
    list-style: none;
    margin: 0 1em;
    margin-top: .5em;
    /* border: 2px solid #797979; */
}
nav a
{
    text-decoration: none;
    color: #797979;
    font-weight: 700;
    /* border: 2px solid #797979; */
}
nav a:hover,
nav a:focus
{
    color: #1792D2;
    /* border-bottom: 2px solid #797979; */
}
.current-page
{
    border-bottom: 1px solid #797979;
}
.current-page:hover
{
    color: #797979;
}


@media (max-width: 802px)
{
    header
    {
        display: flex;
        flex-direction: column;
    }
    nav ul
    {
        flex-direction: column;
        text-align: center;
    }
    .site-title
    {
        text-align: center;
        padding: .5em 0;
    }
    .container
    {
        flex-direction: column;
    }
    nav li
    {
        padding-bottom: 1em;
    }
}